/* Estilo para o contêiner do Scanner */
.container {
    position: relative;
    width: 100%;
  
    overflow: hidden;
    padding: 0px;
  }
  
  /* Estilo para o vídeo dentro do contêiner */
  #interactive {
    width: 100%;
  
    padding: 0px;
  }

  #interactive canvas {
    position: relative;
    top: 0;
  }

  video {
    width: 100%;
    padding: 0px;
   
  }
  